@charset "utf-8";
html,body{
	width:100%;
	margin: 0px auto;
	padding: 0px;
	font-size: 84.5%;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: var(--b-c);
	background-color: transparent;
	font-family: "Zapfino","Georgia", "BIZ UDMincho", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","Osaka", Verdana, "ＭＳ Ｐゴシック", "MS P Gothic" Helvetica, sans-serif;
}
img{
	border: none;
	vertical-align: bottom;
}
body{
	background: var(--b-c);
	background-size: cover;
}
:root{
	--p-c: #CA7CE7;
	--b-c: #171312;
	--w-c: #FBFBFB;
}
/*--------- レイアウト ---------*/
#wrapper{
	background: var(--b-c);
	width: 750px;
	margin: 0px auto;
}
main{
	width: 100%;
	padding: 0px;
	margin: 0px auto;
	background: var(--b-c);
	margin-top: 100px;
}
footer{
	width: 100%;
	height: 20px;
	background: var(--b-c);
	color: var(--w-c);
	text-align: center;
	font-family: "BIZ UDMincho";
}
/*--------- タグ ---------*/
h1,h2{
    margin: 15px auto;
    color: var(--w-c);
	font-family: "BIZ UDMincho";
}
h1{
    padding: 3px 5px;
    font-size: 2.3em;
}
h2{
    padding: 2px 5px;
    font-size: 1.5em;
}
h1:first-letter,
h2:first-letter {
	font-size: 1.5em;
	color: var(--p-c);
}
p{
	width:500px;
	padding: 5px;
	margin: 5px auto 40px;
	font-size: 1.2em;
	color:var(--w-c);
}
ul{
    padding: 5px;
    margin: 15px auto 40px;
    border: 0px;
    list-style: inside;
    color: var(--w-c);
    margin: 5px;
}
li{
	list-style:none;
}
table{
    padding: 5px;
	background: var(--b-c);
	color: var(--w-c);
    margin: left 5px auto 40px;
    border: 1px var(--w-c) solid;
    border-collapse: collapse;
    border-spacing: 0px;
	border-left: 5px var(--w-c) double;
    margin: 5px;
}
td,th{
    padding: 10px;
    border-left: none;
    border-right: none;
    border: 1px #683855 solid;
    text-align: left;
}
th{
    background: #e1cce9;
    color:var(--b-c);
}
img{
    display: block;
    margin: 15px;
    border: 0px;
}
hr{
    display: none;
}
/*========= header ===============*/
header{
	width: 750px;
	height: 95px;
	background-color: var(--b-c);
	color: var(--w-c);
	font-family: "Zapfino";
	line-height: 100px;
	text-indent: 20px;
	margin: 0px;
	font-size: 2.8em;
	display: block;
}
.Matayoshi a{
	text-decoration: none;
	transition:opacity .5s ease;
	color: var(--w-c);
}
.header_nav a,
.header_section a {
  font-size:15px;
  color:var(--w-c);
  letter-spacing:.2em;
  text-transform:uppercase;
  text-decoration:none;
  font-family: "Georgia";
}
.header {
	width:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:3
}
.header_section {
	position:absolute;
	top:-30px;
	right:50px;
	height: 100px;
	width: 130px;
}
.header_section a {
	display:block;
	transition:opacity .5s ease
}
.header_section a+a {
	margin-top:20px
}
.header_nav {
	position:absolute;
	top:-5px;
	left:50px;
	width: 105px;
}
.header_nav a {
	display:block;
	-webkit-transition:opacity .5s ease;
	transition:opacity .5s ease
}
.Matayoshi a:hover,
.header_nav a:hover,
.header_section a:hover {
  opacity:.5
}
/*--------- header ---------*/
/*========= SNS ===============*/
.lead{
  padding: 50px 20px;
}
#square_outer{
	position: relative;
	background: var(--b-c);
	width: 600px;
	height: 100px;
	margin: 0 auto;	
}
#square_inner a{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	width: 50px;
	height: 50px;
	font-size: 0px;
	text-decoration: none;
}
#square_but1 a{
	background: var(--b-c) url("../images/X.png") top center no-repeat;
	top: 35px; 
	left: 200px;
}
#square_but1 a:hover{
	background: var(--b-c) url("../images/X_hover.png") top center no-repeat;
}
#square_but2 a{
	background: var(--b-c) url("../images/Instagram.png") top center no-repeat;
	top: 35px; 
	right: 200px;
}
#square_but2 a:hover{
	background: var(--b-c) url("../images/Instagram_hover.png") top center no-repeat;
}
/*--------- 外部サイト用 ---------*/
.ex_site{
	width: 500px;
	display: block;
    margin: 15px;
}
/*--------- SNS ---------*/
